{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}}">
{% endblock css_files %}

{% block title %}
   {{ course.title }}
{% endblock title %}

{% block content %}
    <i class="fa-solid fa-bug"></i>
    <div class="container mt-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-12 ">
                {% for course in courses%}
                    <div class="card" style="width": "200px";>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ course.image.url }}" class="img-fluid" >
                            </div>

                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.title }}</h5>
                                    <p class="card-text">{{ course.slug }}</p>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <a href="{% url "course_edit" course.id %}" class="btn btn-warning btn-sm">Update</a>
                                <a href="{% url "course_delete" course.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
