{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}}">
{% endblock css_files %}

{% block title %}
   Create Course
{% endblock title %}

{% block content %}
    <i class="fa-solid fa-bug"></i>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 ">
                <form method = "POST" novalidate>
                    {% csrf_token %}

                    {% for field in form  %}
                    <div class="mb-3 {% if field.errors %} invalid {% endif %}">
                        {% if field.errors %}<div class="alert alert-danger"> {{field.errors }} </div>{% endif %}             
                        <label class="form-label" for="{{field.id_label}}">{{field.label}}</label>
                        {{ field }}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
