{% extends "layout.html" %}

{% load static %}

{% block title %}
    Home Page
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}


{% block content %}
    <i class="fa-solid fa-bug"></i>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3 ">
                {% include "courses/partials/_categories.html" %}
            </div>
            <div class="col-9 ">
                {% include "courses/partials/_slider.html" %}
                
                {% if courses|length == 0 %}
                <div class="alert alert-warning">Course Not Found</div>
                {% endif %}

                {% for course in courses %}
                    {% include "courses/partials/_courses.html" %}
                {% endfor%}
                
            </div>
        </div>
    </div>
{% endblock content %}
