{% extends "layout.html" %}

{% load static %}

{% block title %}
    Home Page
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}


{% block content %}
    <i class="fa-solid fa-bug"></i>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3 ">
                {% include "courses/partials/_categories.html" %}
            </div>
            <div class="col-9 ">
                {% if page_obj.object_list|length == 0 %}
                <div class="alert alert-warning">Course Not Found</div>
                {% endif %}

                {% for course in page_obj.object_list%}
                    {% include "courses/partials/_courses.html" %}
                {% endfor%}

                {% if page_obj.paginator.num_pages > 1 %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number}}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                      
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
                {% endif %}
        
            </div>
        </div>
    </div>
{% endblock content %}
