{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}}">
{% endblock css_files %}

{% block title %}
   {{ course.title }}
{% endblock title %}

{% block content %}
    <i class="fa-solid fa-bug"></i>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 ">
                <h1>Login</h1>
                    <hr>

                    <form method="post">
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="username" class="from-label">Username</label>
                            <input type="text" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="from-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>               
            </div>
        </div>
    </div>
{% endblock content %}
